@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import '/src/scss/varibales';
@import '/src/scss/navbar';
@import '/src/scss/banner';
@import '/src/scss/cardproject';
@import '/src/scss/hotprojects';
@import '/src/scss/why';
@import '/src/scss/download';
@import '/src/scss/googlereview';
@import '/src/scss/partners';
@import '/src/scss/lastnews';
@import '/src/scss/properties';
@import '/src/scss/consultation';
@import '/src/scss/homefooter';
@import '/src/scss/propertyform';
@import '/src/scss/locatemapbanner';
@import '/src/scss/area';
@import '/src/scss/footer';
@import '/src/scss/about';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat";

	&::after {
		box-sizing: border-box;
	}

	&::before {
		box-sizing: border-box;
	}
}

@font-face {
	font-family: "Montserrat";
	src: url(../src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url(../src/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
	font-family: "Montserrat-normal-Bold";
	src: url(../src/assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: "Anglecia-Pro-Display";
	src: url(../src/assets/fonts/anglecia-pro-display/AngleciaProDisplay-Italic.otf);
}
@font-face {
	font-family: "Anglecia-Pro-Display-Normal";
	src: url(../src/assets/fonts/anglecia-pro-display/AngleciaProDisplay-Regular.otf);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-bottom: 0 !important;
}



body {
	overflow-x: hidden;
}

.nav-whatsapp {
	width: 42px;
	height: 42px;
	display: grid;
	background: $green;
	border-radius: 50%;
	place-items: center;

	.nav-whatsapp-logo {
		font-size: 30px;
		color: $white;
	}
}
.map {
	display: flex;
}

.about-headings {
	font-size: 37px;
	font-weight: 700;
	line-height: 55.87px;
	color: $blue;
	font-family: "Montserrat-normal-Bold";
	@media screen and (max-width: 768px) {
		font-size: 26px !important;
	}
}
.about-text {
	font-size: 18px;
	font-weight: $font500;
	line-height: 34.74px;
	color: $black;
	@media screen and (max-width: 768px) {
		font-size: 16px !important;
		line-height: 27.74px !important;
	}
	@media screen and (max-width: 576px) {
		font-size: 14px !important;
	}
}

.map-wrapper-control {
	position: relative;
}
