.card-col {
    position: relative;

    img {
        width: 100%;
        height: 230px;
        object-fit: cover;
    }

    .card-title {
        position: absolute;
        background: rgba(1, 57, 139, 0.9);
        padding: 10px 0 10px 18px;
        width: 100%;
        bottom: 0;

        .title {
            color: $white;
            font-family: "Montserrat-normal-Bold";
            font-size: 19px;
            font-weight: $font700;
            line-height: 28px;
        }
    }
}

.space-section {
    gap: 25px;
    .card-col {
        width: calc(50% - 25px);
    }
}