.quiz-section {
    margin-top: 97px;
    @media screen and (max-width: 576px) {
        margin-top: 150px;
    }
    .quiz-wrapper {
        background-color: $gray;
        border-radius: 30px;
        position: relative;

        .quiz-right {
            .quiz-heading {
                font-size: 22px;
                font-weight: $font700;
                font-family: "Montserrat-Bold";
                color: $black;
                max-width: 386px;
            }

            .quiz-text {
                display: flex;
                flex-direction: column;
                gap: 22px;
                margin-top: 14px;

                >p {
                    font-size: 15px;
                    font-weight: $font400;
                    color: $black;
                }
            }

            .quiz-content {
                margin-top: 27px;
                gap: 25px;
                @media screen and (max-width: 576px) {
                    flex-direction: column;
                }

                .take-quiz-btn {
                    padding: 13px 45px;
                    background: $blue;
                    color: $white;
                    font-size: 18px;
                    font-weight: $font600;
                    line-height: 21.94px;
                    text-decoration: none;
                    @media screen and (max-width: 768px) {
                        font-size: 16px;
                        padding: 13px 31px;
                    }
                    @media screen and (max-width: 576px) {
                        padding: 13px 35px;
                    }
                }

                .quiz-time {
                    font-size: 15px;
                    font-weight: $font400;
                    line-height: 17px;
                }
            }

        }
    }

    .tick-box {
        display: grid;
        place-items: center;
        border: 6px solid $blue;
        outline: $white solid 6px;
        border-radius: 50%;
        box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.15);
        width: 73px;
        height: 73px;
        position: absolute;
        top: -13px;
        right: -23px;
        background: $white;
        @media screen and (max-width: 576px) {
            right: 0;
        }
    }
}